h1 {
    font-size: 27px;
    font-family: Tahoma;
    color: white;
    text-align: center;
}

header {
    background-color: #98A886;
}

nav {
    background-color: #98A886;
    padding: 8px;
    font-family: Tahoma;
    font-size-adjust: auto;
}

p {
    padding-right: 10px;
	padding-left: 10px;
	font-family: Tahoma;
	font-size: 15px;
}



body {
    background-color: #465C69;
}

section {
    background-color: bisque;
    float: left;
    width: 75%;
    margin-bottom: 20px;
    margin-top: 10px;
}

aside {
    background-color: #AECFE5;
    float: right;
    width: 24%;
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
    text-align: left;
    font-family: Tahoma;
    color: dimgray;
    text-align: center;
}

img {
    width: 80%;
    align-content: center;
    height: 80%;
}

h4 {
    font-family: Tahoma;
}
