
body {
    background-color: #38618C;
}

header {
    background-color: #35A7FF;
    text-align: center;
    overflow: hidden;
    padding: 3px;
}

.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:6px 13px;
    margin: 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}


h1 {
    font-size: 40px;
    font-family: Tahoma;
    color: white;
}

.page {
    margin: auto;
    width: 1000px;
}


section {
    width: 960px;
    float: center;
    background-color: #FF5964;
    
}

h2 {
    font-family: Tahoma;
    text-align: center;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

.izq {
    float: left;
    height: auto;
    width: 49%;
    margin-top: 8%;
}

p {
    font-family: Tahoma;
    font-size: 16px;
    color: white;
    padding-left: 10px;
    
}

.der {
    height: auto;
    float:right;
    width: 49%;
    margin-top: 2%;
}

ul {
    color: white;
    
}

summary {
    font-family: Tahoma;
    font-size: 16px;
    color: white;
    padding-right: 5px;
}



footer {
    margin-top: 20px;
    text-align: center;
    background-color: #FFE74C;
    clear: both;
}

h3 {
    font-family: Tahoma;
    font-size: 19px;
}

div {
    display:flex;
    justify-content: center;
}

.ref {
    width=100%;
}
