<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><?= $titulo ?></title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">


  <?php if(isset($estilos)): agregar_estilos($estilos); endif; ?>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">

</head>

<body>
  <!-- Container wrapper -->
    <div class="d-flex bodycontainer" id="wrapper">
      <!-- Sidebar -->
      <div class="border-right d-none d-md-block" id="sidebar-wrapper">
    <?php if(isset($registrando)) : ?>
        <div class="sidebar-heading"><input type="image" data-toggle="modal" data-target=".modalSalir" src="../images/logo-CMG.jpg" class="logo-CMG rounded"></input></div>
    <?php elseif($_SESSION["usuario"] == "Administradora") : ?>
        <div class="sidebar-heading"><a href="../usuarios/vistaAdmin.php"><img src="../images/logo-CMG.jpg" class="logo-CMG rounded" alt="logo CMG"></a></div>
    <?php else: ?>
        <div class="sidebar-heading"><a href="../usuarios/vistaEmpleado.php"><img src="../images/logo-CMG.jpg" class="logo-CMG rounded" alt="logo CMG"></a></div>
    <?php endif; ?>
    <div class="list-group list-group-flush">
          <?php botones_sidebar($botones); ?>

        <?php if($tipoPrueba == 2) : ?>
          <div style="display: none;">
        <?php endif; ?>

          <br><strong>Áreas</strong>
          <button  id='btnMotora' class="list-group-item list-group-item-action">Motora</button>
          <input type='hidden' name='Motora' id='Motora' value='1'>

          <button id='btnAcad' class="list-group-item list-group-item-action">Académica</button>
          <input type='hidden' name='Academica' id='Academica' value='10'>

          <button id='btnSocial' class="list-group-item list-group-item-action">Social</button>
          <input type='hidden' name='Social' id='Social' value='19'>

        <?php if($tipoPrueba == 2) : ?>
        </div>
        <?php endif; ?>

        <?php if($tipoPrueba == 1): ?>
          <div style="display: none;">
        <?php endif; ?>

          <br><strong>Habilidades</strong>

          <button id='btnHAcad' class="list-group-item list-group-item-action">Académica</button>
          <input type='hidden' name='HAcad' id='HAcad' value='20'>

          <button id='btnHComu' class="list-group-item list-group-item-action">Comunicación</button>
          <input type='hidden' name='HComu' id='HComu' value='31'>

          <button id='btnHSocial' class="list-group-item list-group-item-action">Social</button>
          <input type='hidden' name='HSocial' id='HSocial' value='32'>

          <button id='btnHAutocuid' class="list-group-item list-group-item-action">Autocuidado</button>
          <input type='hidden' name='HAutocuid' id='HAutocuid' value='36'>

          <button id='btnHVida' class="list-group-item list-group-item-action">Vida en el Hogar</button>
          <input type='hidden' name='HVida' id='HVida' value='39'>

          <button id='btnHAutodirec' class="list-group-item list-group-item-action">Autodirección</button>
          <input type='hidden' name='HAutodirec' id='HAutodirec' value='43'>

          <button id='btnHRecurs' class="list-group-item list-group-item-action">Uso de Recursos</button>
          <input type='hidden' name='HRecurs' id='HRecurs' value='44'>

          <button id='btnHOcio' class="list-group-item list-group-item-action">Ocio y Tiempo Libre</button>
          <input type='hidden' name='HOcio' id='HOcio' value='45'>

          <button id='btnHTrabajo' class="list-group-item list-group-item-action">Trabajo</button>
          <input type='hidden' name='HTrabajo' id='HTrabajo' value='46'>

          <button id='btnHSalud' class="list-group-item list-group-item-action">Salud y Seguridad</button>
          <input type='hidden' name='HSalud' id='HSalud' value='47'>

        <?php if($tipoPrueba == 1) : ?>
        </div>
        <?php endif; ?>

        </div>

      </div>
      <!-- Sidebar ends -->
<!-- Page Content -->
<div id="page-content-wrapper">
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-blanco" id="menu-toggle">
      <?= $titulo ?>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">

          <!--botones para vista en telefono-->
          <div class=" d-sm-block d-md-none">
            <?php if(isset($registrando)) : ?>
            <a href='#modalSalir' data-toggle="modal" data-target="#modalSalir" class='list-group-item list-group-item-action'>Inicio</a>
            <?php elseif($_SESSION["usuario"] == "Administradora") : ?>
            <a href='../usuarios/vistaAdmin.php' class='list-group-item list-group-item-action'>Inicio</a>
            <?php else: ?>
            <a href='../usuarios/vistaEmpleado.php' class='list-group-item list-group-item-action'>Inicio</a>
            <?php endif; ?>
            <?php botones_sidebar($botones); ?>

            <?php if($tipoPrueba == 2) : ?>
              <div style="display: none;">
            <?php endif; ?>

              <br><strong>Áreas</strong>
              <button  id='btnMotora' class="list-group-item list-group-item-action">Motora</button>
              <input type='hidden' name='Motora' id='Motora' value='1'>

              <button id='btnAcad' class="list-group-item list-group-item-action">Académica</button>
              <input type='hidden' name='Academica' id='Academica' value='10'>

              <button id='btnSocial' class="list-group-item list-group-item-action">Social</button>
              <input type='hidden' name='Social' id='Social' value='19'>

            <?php if($tipoPrueba == 2) : ?>
            </div>
            <?php endif; ?>

            <?php if($tipoPrueba == 1): ?>
              <div style="display: none;">
            <?php endif; ?>

              <br><strong>Habilidades</strong>

              <button id='btnHAcad' class="list-group-item list-group-item-action">Académica</button>
              <input type='hidden' name='HAcad' id='HAcad' value='20'>

              <button id='btnHComu' class="list-group-item list-group-item-action">Comunicación</button>
              <input type='hidden' name='HComu' id='HComu' value='31'>

              <button id='btnHSocial' class="list-group-item list-group-item-action">Social</button>
              <input type='hidden' name='HSocial' id='HSocial' value='32'>

              <button id='btnHAutocuid' class="list-group-item list-group-item-action">Autocuidado</button>
              <input type='hidden' name='HAutocuid' id='HAutocuid' value='36'>

              <button id='btnHVida' class="list-group-item list-group-item-action">Vida en el Hogar</button>
              <input type='hidden' name='HVida' id='HVida' value='39'>

              <button id='btnHAutodirec' class="list-group-item list-group-item-action">Autodirección</button>
              <input type='hidden' name='HAutodirec' id='HAutodirec' value='43'>

              <button id='btnHRecurs' class="list-group-item list-group-item-action">Uso de Recursos</button>
              <input type='hidden' name='HRecurs' id='HRecurs' value='44'>

              <button id='btnHOcio' class="list-group-item list-group-item-action">Ocio y Tiempo Libre</button>
              <input type='hidden' name='HOcio' id='HOcio' value='45'>

              <button id='btnHTrabajo' class="list-group-item list-group-item-action">Trabajo</button>
              <input type='hidden' name='HTrabajo' id='HTrabajo' value='46'>

              <button id='btnHSalud' class="list-group-item list-group-item-action">Salud y Seguridad</button>
              <input type='hidden' name='HSalud' id='HSalud' value='47'>

            <?php if($tipoPrueba == 1) : ?>
            </div>
            <?php endif; ?>

          </div>

          <a class="nav-link dropdown-toggle ml-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <?php date_default_timezone_set('America/Mexico_City'); ?>
            <?php $date = date('H'); if($date >= 12 && $date < 19) : ?>
              Buenas tardes,
            <?php elseif($date >= 19 && $date <= 23) : ?>
              Buenas noches,
            <?php else : ?>
              Buenos días,
            <?php endif; ?>

            <?= $_SESSION["nombre"] ?>

          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <?php if(isset($registrando)) : ?>

              <a class="dropdown-item" data-target="#modalCerrarSesion" data-toggle="modal"  href="#modalCerrarSesion">Cerrar sesión</a>

              <a class="dropdown-item" data-target="#modificarCuenta" data-toggle="modal"  href="#modificarCuenta">Configuración de cuenta</a>
              <!--El botón para configurar usuarios solo se muestra si la cuenta es admin-->
              <?php if($_SESSION["usuario"] === "Administradora"):?>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ata-target="#modificarUsuarios" data-toggle="modal"  href="#modificarUsuarios">Configuración de usuarios</a>
              <?php endif; ?>
            <?php else: ?>
              <a class="dropdown-item" href="../controladores/cerrarSesion.php">Cerrar sesión</a>
              <a class="dropdown-item" href="../usuarios/modificarCuentaPersonal.php">Configuración de cuenta</a>
              <!--El botón para configurar usuarios solo se muestra si la cuenta es admin-->
              <?php if($_SESSION["usuario"] === "Administradora"):?>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../usuarios/consultarCuentas.php">Configuración de usuarios</a>
              <?php endif; ?>
            <?php endif; ?>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar ends -->
  <?php $location = "Cerrar Sesión"; $href = "../controladores/cerrarSesion.php"; $idModal = "modalCerrarSesion"; include("../partials/_modal_preguntar_salir.html"); ?>
  <?php $location = "Configuración de cuenta"; $href = "../usuarios/modificarCuentaPersonal.php"; $idModal = "modificarCuenta"; include("../partials/_modal_preguntar_salir.html"); ?>
  <?php $location = "Configuración de usuarios"; $href = "../usuarios/consultarCuentas.php"; $idModal = "modificarUsuarios"; include("../partials/_modal_preguntar_salir.html"); ?>
